In [1]:
t = ["the", "rain", "in", "spain","stays","mainly", "in", "the", "plain"]

In [2]:
join(t)

NameError: name 'join' is not defined

In [3]:
delimiter = " "

In [4]:
delimiter.join(t)

'the rain in spain stays mainly in the plain'

In [5]:
t

['the', 'rain', 'in', 'spain', 'stays', 'mainly', 'in', 'the', 'plain']

In [6]:
x = delimiter.join(t)

In [7]:
x

'the rain in spain stays mainly in the plain'

In [8]:
x

'the rain in spain stays mainly in the plain'

In [9]:
t2 = t[1:-1]

In [10]:
t2

['rain', 'in', 'spain', 'stays', 'mainly', 'in', 'the']

In [11]:
t2.sort()

In [12]:
t2

['in', 'in', 'mainly', 'rain', 'spain', 'stays', 'the']

In [13]:
t3 = t2.sort()

In [14]:
t3

In [15]:
t2

['in', 'in', 'mainly', 'rain', 'spain', 'stays', 'the']

In [16]:
word2 = "brontosaurus"
d = dict()
for c in word2:
    if c not in d:
        d[c] = 1
    else:
        d[c] = d[c] + 1
        
print(d)

{'b': 1, 'r': 2, 'o': 2, 'n': 1, 't': 1, 's': 2, 'a': 1, 'u': 2}